RewriteEngine On

RewriteBase /analytics

RewriteRule ^get_skull/(.*)$ get_skull.php?id=$1 [QSA]
RewriteRule ^view/(.*)$ view.php?id=$1 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]